html{
	height:100%;
}

body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	background-color:cornflowerblue;
}

main{
	width:700px;
	height:500px;
	display:grid;
	grid-template-rows:1fr 6fr;
}


section{
	border:3px solid red;
	border-radius:25px;
	padding:20px;
	background-color:aquamarine;
	color:Maroon;
	font-size:18px;
	font-family:Helvetica;
}

#menu{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding:10px;
	grid-gap:10px;
	
}

#menu > input{
	background-color:yellow;
	color:red;
	font-size:20px;
	font-family:'Comic Sans MS';
	border: 3px solid red;
	border-radius:15px;
}

#menu > input:hover{
	border:3px solid aquamarine;
	background-color:red;
	color:aquamarine;
}

#themes{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding:10px;
	grid-gap:10px;
	
}

#themes > input{
	background-color:yellow;
	color:red;
	font-size:20px;
	font-family:'Comic Sans MS';
	border: 3px solid red;
	border-radius:15px;
}

#themes > input:hover{
	border:3px solid aquamarine;
	background-color:red;
	color:aquamarine;
}
